* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    padding-top: 65px;
}

.btn-primary{
    background-color: rgb(30, 215, 96);
    border-color: rgb(30, 215, 96, 0.7);
}

.btn-primary:hover{
    background-color: rgb(30, 215, 96, 0.85);
    border-color: rgb(30, 215, 96, 0.85);
}

.btn-primary:focus{
    background-color: rgb(30, 215, 96);
    border-color: rgb(30, 215, 96);
    box-shadow: 0 0 0 0 rgba(68, 167, 118, 0.593);
}

.btn-primary:disabled {
    background-color: rgba(30, 215, 96, 0.7);
    border-color: rgb(30, 215, 96, 0.5);
}

.p-file{
    display: inline-block;
}

.bi{
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: -0.120em;
    color:rgb(30, 215, 96, 0.7);
}

.bi-google{
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: -0.075em;
    color: white
}

/* Stile accordion */

.accordion{
    justify-content: center;
}

.accordion-button{
    color: black;
    background-color: rgb(248, 249, 250)
}

.accordion-button::after{
    color: black
    
}

.accordion-button:not(.collapsed){
    color: white;
    background-color: rgb(33, 37, 41)
}

.accordion-button:not(.collapsed)::after{
    color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")}


button:focus:not(:focus-visible) {
    outline: 0;
}

.accordion-button:focus{
    border-color: black;
    box-shadow: 0 0 0 0 rgb(30, 215, 96, 0.7);
}

a {
    color: rgb(30 215 96);
    text-decoration: none;
}

/* Stile toast */

.toast {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

/* Stile footer */

footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.list-inline-item svg {
    font-size: 30px;
}

.link_footer a:any-link {
    color: rgb(30 215 96);
    text-decoration-line: none;
}

.link_footer a:hover {
    color: rgb(40, 128, 84);
}

.social_footer a:any-link {
    color: rgb(30 215 96);
}

.social_footer a:hover {
    color: rgb(30 215 96);
}