/* Stile banner principale */

.head-banner {
    background-color: rgb(85, 85, 85);
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url('https://storage.googleapis.com/pr-newsroom-wp/1/2021/04/triangle_burst2-green-nocopy-1920x733.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

/* Stile commenti con icone */

.sezione-icone {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.bi {
    font-size: 50px;
}

/* Stile paragrafi con immagini */

.sezione-image .image {
    min-height: 30rem;
    background-size: cover;
}

.sezione-image .txt {
    padding: 3rem;
}

/* Stile sezione recensioni */

.recensioni {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.recensione-singola img {
    height: 200px;
    width: 200px;
}

/* Stile newsletter */

.newsletter {
    background-color: rgb(85, 85, 85);
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url('https://storage.googleapis.com/pr-newsroom-wp/1/2021/04/triangle_burst2-green-nocopy-1920x733.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

@media screen and (min-width: 768px) {
    .head-banner {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    .sezione-image .txt {
        padding: 3rem;
    }
}