/*** stile body e main ***/

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding-top: 65px;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

/*** stili aggiuntivi nav ***/

.nav-flush .nav-link {
    border-radius: 0;
}

/*** stile playlist viewer ***/

.playlist-name{
    color:rgb(30, 215, 96);
    max-width: 20ch;
    text-overflow: ellipsis;
}

.playlist-description{
    color: black;
    max-width: 20ch;
    text-overflow: ellipsis;
} 

.song-item{
    word-break: break-all;
}

/*** stile redirect ***/

.anchor-url{
    text-decoration: none;
    color: rgb(30, 215, 96);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.plist-analyzer-link{
    text-decoration: none;
    color: rgb(30, 215, 96);
}

@media screen and (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

} 